
@import './fonts/fonts.scss';
@import './helpers/vars.scss';
@import './normalize/normalize.scss';

@import './templates/header.scss';
@import './templates/footer.scss';

@import './components/index.scss';

@import './main/main.scss';

@import './categories/categories.scss';
@import './anounces/anounces.scss';
@import './categories-article/categories-article.scss';
@import './contacts/contacts.scss';
@import './about/about.scss';



.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;

    @media screen and (max-width: 1024px) {
        padding: 0 15px;
    }
}