@font-face {
    font-family: 'Pobeda';
    src: url('../fonts/pobeda-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pobeda Bold';
    font-weight: bold;
    font-style: bold;
    src: url('../fonts/pobeda-bold.ttf') format('truetype'),
        url('../fonts/pobeda-bold.otf') format('opentype'),
        url('../fonts/pobeda-bold.woff') format('woff'),
        url('../fonts/pobeda-bold.woff2') format('woff2'),
}

@font-face {
    font-family: 'Namu';
    font-weight: normal;
    font-style: normal;
    src:    url('../fonts/namu-1850.ttf') format('truetype'),
            url('../fonts/namu-1850.otf') format('opentype'),
            url('../fonts/namu-1850.woff2') format('woff2'),
            url('../fonts/namu-1850.woff') format('woff'),
}